.contact-list {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-list h1 {
    text-align: center;
    color: #2d3e50;
  }
  
  .contact-list input {
    padding: 10px;
    margin: 10px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .contact-list button {
    padding: 10px 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-list button:hover {
    background-color: #45a049;
  }
  
  .contact-list ol {
    padding-left: 20px;
  }
  
  .contact-list li {
    padding: 8px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 4px;
    width: 330px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-list li button {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    color: #e74c3c;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  
  .contact-list li button:hover {
    background-color: #c0392b;
  }
  
  .contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contact li{
    width: 270px;
  }

  .contacts-area{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }